.headerRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    color: #000;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 20px;

    .voice {
        width: 60%;
        text-align: center;
    }

    .priority {
        width: 25%;
        text-align: center;
    }

    .remove {
        width: 15%;
        text-align: center;
    }

}

// New styles for the added features
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin-top: 10px;
    margin-top: 20px;

    input {
        width: 60%;
        height: 100%;
        border: 1px solid #c5bdbd;
        border-radius: 5px;
        padding: 5px;
        margin-right: 10px;
        color: #000;
        font-family: 'Inter';
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-left: 20px;
    }

    button {
        width: 15%;
        height: 100%;
        border: 1px solid #c5bdbd;
        border-radius: 5px;
        background: #fff;
        color: #000;
        cursor: pointer;

        &.normal {
            border: 1px solid #438600;
            background: #E4FFCF;
            color: #59CA00;
            font-size: 20px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
        }

        &.medium {
            border: 1px solid rgba(255, 184, 0, 0.85);
            background: rgba(255, 239, 199, 0.85);
            color: rgba(255, 184, 0, 0.85);
            font-size: 20px;
            font-style: normal;
            font-weight: 800;
        }

        &.high {
            border: 1px solid #FF0A0A;
            background: #FCCACA;
            color: #F00;
            font-size: 20px;
            font-style: normal;
            font-weight: 800;
        }
    }

}

.add {
    border: 1px solid #0085FF;
    background: #AFD9FF;
    width: 175px;
    height: 64px;
    color: #0061BB;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 20px;
    cursor: pointer;
    margin-bottom: 30px;
}